services:
  # PostgreSQL Database
  postgres:
    image: postgres:15-alpine
    container_name: synapse_postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: SynapseDB
      POSTGRES_USER: postgress
      POSTGRES_PASSWORD: Cr7#thegreat
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./migrations:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgress -d SynapseDB"]
      interval: 30s
      timeout: 10s
      retries: 3

volumes:
  postgres_data:
    driver: local
